
html, body {
  height: 100%;
}
body {
  font-family: 'Slabo 27px', serif;
  background-color: #FFFFFF;
}
.navbar {
  font-size: 20px;
}
.navbar-brand {
  font-size: 30px;
}
.home-page {
  background-image: url(../images/dark_wall.png);
  height: 100vh;
}
.about-page {
  background-image: url(../images/white_wall.png);
  height: 100vh;
  text-align:center;
}
.about-page > .container {
  padding: 100px 150px;
}
.jumbotron {
  color: #327bb8;
}
.jumbotron p {
  margin-bottom: 0px;
  font-size: 14px;
}
/*.welcome-msg-box {
  padding-top: 20px;
  padding-bottom: 20px;
}*/
.social-icons-box {
  padding-top: 10px;
  padding-bottom: 10px;
  /*transform: rotateX(45deg);*/
}
.flex-col-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-align : center;
  -webkit-align-items : center;
  -moz-box-align : center;
  -ms-flex-align : center;
  align-items : center;
  -webkit-box-pack : center;
  -moz-box-pack : center;
  -ms-flex-pack : center;
  -webkit-justify-content : center;
  justify-content : center;
  flex-wrap: wrap;
}

.flex-row-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align : center;
  -webkit-align-items : center;
  -moz-box-align : center;
  -ms-flex-align : center;
  align-items : center;
  -webkit-box-pack : center;
  -moz-box-pack : center;
  -ms-flex-pack : center;
  -webkit-justify-content : center;
  justify-content : center;
  flex-wrap: wrap;
}
.full-height {
  min-height: 100%;
  min-height: 100vh;
}
textarea {
  resize: none;
}
.icon-label {
  font-size:10px;
  margin-bottom: 0px;
}

.inner-circle {
  padding:10px;
  border-radius:50%;
  border:10px solid #327bb8;
}
.pink-border-bottom {
  border-bottom: 1px solid #e9b2db;
}
.left-column {
  text-align: left;
  float: left;
  padding: 20px 30px;
}
.column-right {
  background: #e0e0e0;
  padding: 0 50px 0 50px;
  margin: 0 0 0 50px;
  text-align: left;
}
