

html, body {
  height: 100%;
}
body {
  font-family: 'Slabo 27px', serif;
  background-color: #FFFFFF;
}
.navbar-nav > li > a{
  font-size: 20px;
  color: #327bb8 !important;
}
.navbar-nav > li > a:hover {
  background-color: #e6e6e6 !important;
}
.navbar-brand {
  color: #327bb8 !important;
  font-size: 30px;
}
.navbar-brand:hover {
  background-color: #e6e6e6 !important;
}
.home-page {
  background-image: url(../images/dark_wall.png);
}
.about-page {
  background-image: url(../images/white_wall.png);
  text-align:center;
}

.color-blue {
  color: #327bb8;
}
.jumbotron p {
  margin-bottom: 0px;
  font-size: 14px;
}
/*.welcome-msg-box {
  padding-top: 20px;
  padding-bottom: 20px;
}*/
.social-icons-box {
  padding-top: 10px;
  padding-bottom: 10px;
  /*transform: rotateX(45deg);*/
}
.flex-col-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-align : center;
  -webkit-align-items : center;
  -moz-box-align : center;
  -ms-flex-align : center;
  align-items : center;
  -webkit-box-pack : center;
  -moz-box-pack : center;
  -ms-flex-pack : center;
  -webkit-justify-content : center;
  justify-content : center;
}

.flex-row-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align : center;
  -webkit-align-items : center;
  -moz-box-align : center;
  -ms-flex-align : center;
  align-items : center;
  -webkit-box-pack : center;
  -moz-box-pack : center;
  -ms-flex-pack : center;
  -webkit-justify-content : center;
  justify-content : center;
  flex-wrap: wrap;
}
.full-height {
  min-height: 100%;
  min-height: 100vh;
}
.vertical-padding {
  padding-top: 20px;
}
.content-padding {
  margin: 5% 10%;
}
.inline-block {
  display: inline-block;
}
textarea {
  resize: none;
}
.icon-label {
  font-size:10px;
}

.inner-circle {
  padding:10px;
  border-radius:50%;
  border:10px solid #327bb8;
}
.pink-border-bottom {
  border-bottom: 1px solid #e9b2db;
}
